<div class="content">
  <div class="container">
    <div class="form">
      <div class="header">
        <h1>Register</h1>
      </div>
      <form [formGroup]="form" (ngSubmit)="register()">
        <input
          [style]="{borderLeftColor : (form.get('username')?.touched && form.get('username')?.errors?.['required']) || form.get('username')?.errors?.['minlength'] ? ' red' : '',
           borderRightColor : (form.get('username')?.touched && form.get('username')?.errors?.['required']) || form.get('username')?.errors?.['minlength'] ? ' red' : '', 
           borderLeftWidth : (form.get('username')?.touched && form.get('username')?.errors?.['required']) || form.get('username')?.errors?.['minlength'] ? ' 3px' : '', 
           borderRightWidth : (form.get('username')?.touched && form.get('username')?.errors?.['required']) || form.get('username')?.errors?.['minlength'] ? ' 3px' : ''}"
          type="text"
          name="username"
          id="username"
          placeholder="Enter your Username"
          formControlName="username"
        />

        <ng-container *ngIf="form.get('username')?.touched">
          <p class="error" *ngIf="form.get('username')?.errors?.['required']">
            Username is required!
            <!-- само ако има required грешка да се появи-->
          </p>
          <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
            Username must be at least 5 characters!
            <!--ако е по къса от 5 символа-->
          </p>
        </ng-container>

        <input
          [style]="{borderLeftColor : (form.get('email')?.touched && form.get('email')?.errors?.['required']) || form.get('email')?.errors?.['emailValidator'] ? ' red' : '',
           borderRightColor : (form.get('email')?.touched && form.get('email')?.errors?.['required']) || form.get('email')?.errors?.['emailValidator'] ? ' red' : '', 
           borderLeftWidth : (form.get('email')?.touched && form.get('email')?.errors?.['required']) || form.get('email')?.errors?.['emailValidator'] ? ' 3px' : '', 
           borderRightWidth : (form.get('email')?.touched && form.get('email')?.errors?.['required']) || form.get('email')?.errors?.['emailValidator'] ? ' 3px' : ''}"
          type="text"
          name="email"
          id="email"
          placeholder="Enter your email"
          formControlName="email"
        />
        <ng-container *ngIf="form.get('email')?.touched">
          <p class="error" *ngIf="form.get('email')?.errors?.['required']">
            Email is required!
          </p>
          <p
            class="error"
            *ngIf="form.get('email')?.errors?.['emailValidator']"
          >
            Email is not valid!
          </p>
        </ng-container>
        <input
          type="text"
          name="tel"
          id="tel"
          placeholder="Enter your phone number"
          formControlName="tel"
        />
        <ng-container formGroupName="passGroup">
          <input
            [style]="{borderLeftColor : (form.get('passGroup')?.get('password')?.touched && form.get('passGroup')?.get('password')?.errors?.['required']) || form.get('passGroup')?.get('password')?.errors?.['minlength'] ? ' red' : '',
           borderRightColor : (form.get('passGroup')?.get('password')?.touched && form.get('passGroup')?.get('password')?.errors?.['required']) || form.get('passGroup')?.get('password')?.errors?.['minlength'] ? ' red' : '', 
           borderLeftWidth : (form.get('passGroup')?.get('password')?.touched && form.get('passGroup')?.get('password')?.errors?.['required']) || form.get('passGroup')?.get('password')?.errors?.['minlength'] ? ' 3px' : '', 
           borderRightWidth : (form.get('passGroup')?.get('password')?.touched && form.get('passGroup')?.get('password')?.errors?.['required']) || form.get('passGroup')?.get('password')?.errors?.['minlength'] ? ' 3px' : ''}"
            type="password"
            name="password"
            id="password"
            placeholder="Create a password"
            formControlName="password"
          />

          <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
            <p
              class="error"
              *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']"
            >
              Password is required!
            </p>
            <p
              class="error"
              *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']"
            >
              Password must be at least 5 characters!
            </p>
          </ng-container>
          <input
            [style]="{borderLeftColor : (form.get('passGroup')?.get('rePassword')?.touched && form.get('passGroup')?.get('rePassword')?.errors?.['required']) || form.get('passGroup')?.get('rePassword')?.errors?.['minlength'] ? ' red' : '',
           borderRightColor : (form.get('passGroup')?.get('rePassword')?.touched && form.get('passGroup')?.get('rePassword')?.errors?.['required']) || form.get('passGroup')?.get('rePassword')?.errors?.['minlength'] ? ' red' : '', 
           borderLeftWidth : (form.get('passGroup')?.get('rePassword')?.touched && form.get('passGroup')?.get('rePassword')?.errors?.['required']) || form.get('passGroup')?.get('rePassword')?.errors?.['minlength'] ? ' 3px' : '', 
           borderRightWidth : (form.get('passGroup')?.get('rePassword')?.touched && form.get('passGroup')?.get('rePassword')?.errors?.['required']) || form.get('passGroup')?.get('rePassword')?.errors?.['minlength'] ? ' 3px' : ''}"
            type="password"
            name="rePassword"
            id="rePassword"
            placeholder="Confirm your password"
            formControlName="rePassword"
          />

          <ng-container
            *ngIf="form.get('passGroup')?.get('rePassword')?.touched"
          >
            <p
              class="error"
              *ngIf="form.get('passGroup')?.errors?.['matchPassValidator'] || form.get('passGroup')?.get('rePassword')?.errors?.['required']"
            >
              Repeat Password does not match password!
            </p>
          </ng-container>
        </ng-container>
        <input
          [disabled]="form.invalid"
          [style]="{
            backgroundColor: form.invalid ? '#7D7D7D' : '#00D4FF'
          }"
          type="button"
          class="button"
          value="REGISTER"
          type="submit"
        />
      </form>
      <div class="login">
        <span class="login"
          >Already have an account?
          <label><a routerLink="/login">Login</a></label>
        </span>
      </div>
    </div>
  </div>
</div>
