<div class="content">
  <div class="container">
    <div class="form">
      <div class="header">
        <h1>Register</h1>
      </div>
      <form [formGroup]="form" (ngSubmit)="register()">
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Enter your Username"
          formControlName="username"
        />
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Enter your email"
          formControlName="email"
        />
        <input
          type="text"
          name="tel"
          id="tel"
          placeholder="Enter your phone number"
          formControlName="tel"
        />
        <ng-container formGroupName="passGroup">
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Create a password"
            formControlName="password"
          />
          <input
            type="password"
            name="rePassword"
            id="rePassword"
            placeholder="Confirm your password"
            formControlName="rePassword"
          />
        </ng-container>
        <input type="button" class="button" value="REGISTER" type="submit" />
      </form>
      <div class="login">
        <span class="login"
          >Already have an account?
          <label><a routerLink="/login">Login</a></label>
        </span>
      </div>
    </div>
  </div>
</div>
