<div class="content">
  <div class="container">
    <div class="form">
      <div class="header">
        <h1>Signup</h1>
      </div>
      <form>
        <input type="text" placeholder="Enter your Username" />
        <input type="text" placeholder="Enter your email" />
        <input type="text" placeholder="Enter your phone number" />
        <input type="password" placeholder="Create a password" />
        <input type="password" placeholder="Confirm your password" />
        <input type="button" class="button" value="SIGNUP" />
      </form>
      <div class="signup">
        <span class="signup"
          >Already have an account?
          <label>Login</label>
        </span>
      </div>
    </div>
  </div>
</div>
