<div class="all-themes">
  <div class="block-name"><h1>All Car Themes</h1></div>
  <div class="all-car-theme">
    <div *ngFor="let carTheme of carThemes" class="container">
      <div class="wrapper">
        <div class="title">
          <h1>{{ carTheme.themeName }}</h1>
        </div>

        <div class="button-wrapper">
          <button [routerLink]="carTheme._id" class="btn fill">COMMENTS</button>
        </div>
        <div class="info">
          <p>Theme made by: {{ carTheme.userId.username }}</p>
          <p>Subscribers: {{ carTheme.subscribers.length || 0 }}</p>
        </div>
      </div>
      <!-- //Hide button -->
      <div class="button-wrapper">
        <button
          *ngIf="isLoggedIn && !isSubscribed(carTheme)"
          class="btn fill sub"
        >
          SUBSCRIBE
        </button>
        <button
          *ngIf="isLoggedIn && isSubscribed(carTheme)"
          class="btn fill unsub"
        >
          UNSUBSCRIBE
        </button>
      </div>
    </div>
  </div>
</div>
