<div class="all-car-theme">
  <div *ngFor="let carTheme of carThemes" class="container">
    <div class="wrapper">
      <div class="title">
        <h1>{{ carTheme.themeName }}</h1>
      </div>

      <div class="button-wrapper">
        <button class="btn fill">COMMENTS</button>
      </div>
      <div class="info">
        <p>Theme made by: {{ carTheme.userId.username }}</p>
        <p>Subscribers: {{ carTheme.subscribers?.length || 0 }}</p>
      </div>
    </div>
    <div *ngIf="" class="button-wrapper">
      <button class="btn fill sub">SUBSCRIBE</button>
    </div>
  </div>
</div>
