<div class="content">
  <div class="container">
    <div class="wrapper">
      <div class="banner-image">
        <img src="../../../assets/images.png" />
      </div>
      <h1>User profile</h1>
      <div class="profile-info">
        <div class="static">
          <p>Username:</p>
          <p>Email:</p>
          <p>Phone:</p>
        </div>
        <div class="dinamic">
          <p>Anatoli</p>
          <p>anatolcata@abv.bg</p>
          <p>999-999-999-999</p>
        </div>
      </div>
    </div>
    <div class="button-wrapper">
      <!-- <button class="btn outline">DETAILS</button> -->
      <button class="btn fill">EDIT</button>
    </div>
  </div>
</div>
