.wrapper {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    45deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(11, 3, 45, 1) 100%
  );
  padding: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.all-themes {
  width: 60%;
  height: 90vh;
}

.all-coments {
  width: 40%;
  height: 90vh;
}
