<header class="header-area">
  <div class="container">
    <nav class="main-nav">
      <a href="index.html" class="logo">
        <h4>Car<span>Forum</span></h4>
      </a>
      <ul class="nav">
        <li>
          <a>Home</a>
        </li>
        <li><a>Cars Theme</a></li>
        <li>
          <a>Add car theme</a>
        </li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="isLoggedIn"><a>Logout</a></li>
        <li *ngIf="!isLoggedIn">
          <a routerLink="/register">Register</a>
        </li>
        <li>
          <div *ngIf="isLoggedIn" class="main-red-text">
            <a>Welcome</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
