<header class="header-area">
  <div class="container">
    <nav class="main-nav">
      <a routerLink="/home" class="logo">
        <h4>Car<span>Forum</span></h4>
      </a>
      <ul class="nav">
        <li>
          <!-- <a>Home</a> -->
        </li>
        <li><a routerLink="/themes">Car Theme</a></li>
        <li>
          <a routerLink="/add-theme">Add car theme</a>
        </li>
        <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
        <li *ngIf="isLoggedIn"><a>Logout</a></li>
        <li *ngIf="!isLoggedIn">
          <a routerLink="/register">Register</a>
        </li>
        <li>
          <div *ngIf="isLoggedIn" class="main-red-text">
            <a>Welcome</a>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>
