<div class="content">
  <div class="container">
    <div class="theme">
      <p>Date: {{ currentCarTheme.created_at | formated }}</p>
      <h1>{{ currentCarTheme.themeName }}</h1>
      <p>Subscribers: {{ currentCarTheme.subscribers.length || 0 }}</p>
    </div>
  </div>

  <div class="container" *ngFor="let comment of currentCarTheme.posts">
    <div class="comment">
      <div class="author">
        <div class="authot-info">
          <div class="banner-image">
            <img src="../../../assets/images.png" alt="author" />
          </div>
          <p class="user-name">{{ comment.userId.username }}</p>
        </div>
        <p>Date:</p>
        <p>{{ comment.created_at | date }}</p>
      </div>
      <div class="comment-text">
        <p>
          {{ comment.text }}
        </p>
      </div>
    </div>
    <div class="info">
      <div class="button-wrapper">
        <button *ngIf="isLoggedIn" class="btn fill" (click)="like()">
          <i class="fa-solid fa-thumbs-up"></i> LIKE
        </button>
        <p>
          Likes: <span>{{ comment.likes.length || 0 }}</span>
        </p>
      </div>
    </div>
  </div>

  <form
    class="container"
    *ngIf="isLoggedIn"
    [formGroup]="form"
    (ngSubmit)="comment()"
  >
    <div class="form">
      <p>{{ userName }} comment:</p>
      <textarea
        type="text"
        name="postText"
        id="postText"
        formControlName="postText"
        required
        rows="10"
      ></textarea>
    </div>

    <ng-container *ngIf="form.get('postText')?.touched">
      <p class="error" *ngIf="form.get('postText')?.errors?.['required']">
        This field is required!
      </p>
    </ng-container>

    <button
      class="btn fill post"
      [disabled]="form.invalid"
      [style]="{
        backgroundColor: form.invalid ? '#7D7D7D' : '#00D4FF'
      }"
    >
      POST
    </button>
  </form>
</div>
