<div class="content">
  <div class="container">
    <div class="theme">
      <p>Date: 2024.02.28</p>
      <h1>Toyota Supra</h1>
      <p>Subscribers: 5</p>
    </div>
  </div>

  <div class="container">
    <div class="comment">
      <div class="author">
        <div class="banner-image">
          <img src="../../../assets/images.png" alt="" />
        </div>
        <p>Author:</p>
        <p>Date: 2024.02.28</p>
      </div>
      <div class="textarea">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et totam
          exercitationem laboriosa
        </p>
      </div>
    </div>
    <div class="info">
      <div class="button-wrapper">
        <button class="btn fill">
          <i class="fa-solid fa-thumbs-up"></i> LIKE
        </button>
        <p>Likes: 20</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="form">
      <p>"Current user" comment:</p>
      <textarea type="text" name="postText" rows="10"></textarea>
    </div>
    <button class="btn fill post">POST</button>
  </div>
</div>
