<div class="content">
  <div class="container">
    <div class="theme">
      <p>Date: {{ currentCarTheme.created_at | date }}</p>
      <h1>{{ currentCarTheme.themeName }}</h1>
      <p>Subscribers: {{ currentCarTheme.subscribers.length || 0 }}</p>
    </div>
  </div>

  <div class="container" *ngFor="let comment of currentCarTheme.posts">
    <div class="comment">
      <div class="author">
        <div class="authot-info">
          <div class="banner-image">
            <img src="../../../assets/images.png" alt="author" />
          </div>
          <p class="user-name">{{ comment.userId.username }}</p>
        </div>
        <p>Date:</p>
        <p>{{ comment.created_at | date }}</p>
      </div>
      <div class="comment-text">
        <p>
          {{ comment.text }}
        </p>
      </div>
    </div>
    <div class="info">
      <div class="button-wrapper">
        <button *ngIf="isLoggedIn" class="btn fill">
          <i class="fa-solid fa-thumbs-up"></i> LIKE
        </button>
        <p>
          Likes: <span>{{ comment.likes.length || 0 }}</span>
        </p>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="isLoggedIn">
    <div class="form">
      <p>{{ userName }} comment:</p>
      <textarea type="text" name="postText" rows="10"></textarea>
    </div>
    <button class="btn fill post">POST</button>
  </div>
</div>
