<div class="content">
  <div class="container">
    <div class="form">
      <div class="header">
        <h1>Add Car theme</h1>
      </div>

      <form>
        <p>This theme is for:</p>
        <input
          type="text"
          name="themeName"
          id="themeName"
          placeholder="Car brand and model"
          #inputThemeName
        />
        <p>Text:</p>
        <textarea
          type="text"
          name="postText"
          id="postText"
          rows="10"
          #textareaPostText
        ></textarea>
        <input
          (click)="
            addTheme($event, inputThemeName.value, textareaPostText.value)
          "
          type="button"
          class="button"
          value="POST"
        />
      </form>
    </div>
  </div>
</div>
