<div class="content">
  <div class="container">
    <div class="form">
      <div class="header">
        <h1>Login</h1>
      </div>
      <form>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter your email"
          #inputEmail
        />
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
          #inputPassword
        />
        <input
          (click)="login(inputEmail.value, inputPassword.value)"
          type="button"
          class="button"
          value="LOGIN"
        />
      </form>
      <div class="register">
        <span class="register"
          >Don't have an account?
          <label><a routerLink="/register">Register</a></label>
        </span>
      </div>
    </div>
  </div>
</div>
