@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

.content {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    45deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(11, 3, 45, 1) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.container {
  border-radius: 12px;
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3em;
}

h1 {
  margin: 30px;
  font-family: "Righteous", sans-serif;
  color: rgba(255, 255, 255, 0.98);
  text-transform: uppercase;
  text-align: center;
  font-size: 3em;
  letter-spacing: 2px;
}

.banner-image {
  background-size: cover;
  width: auto;
  height: auto;
}

p {
  color: #fff;
  font-family: "Righteous", sans-serif;
  text-align: center;
  font-size: 1.2em;
  letter-spacing: 2px;
  font-weight: bold;
}

span a {
  color: rgba(0, 212, 255, 0.9);
  cursor: pointer;
  text-decoration: none;
}

span a:hover {
  color: white;
}

.last-theme {
  display: flex;
  gap: 2em;
}
.last-theme .container-car {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 12px;
  padding: 18px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.last-theme .wrapper {
  display: flex;
  flex-direction: column;
}

.last-theme .banner-image img {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 130px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.255);
}

.last-theme .title h1 {
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.last-theme .button-wrapper {
  margin: 18px 0px;
}

.last-theme .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.last-theme .fill {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  transition: all 0.3s ease;
}

.last-theme .btn {
  background: rgba(0, 212, 255, 0.9);
  color: rgba(255, 255, 255, 0.95);
  filter: drop-shadow(0);
  font-weight: bold;
  border: none;
  padding: 10px 22px;
  border-radius: 24px;
  font-size: 0.7rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.fill:hover {
  transform: scale(1.125);
  border-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.125));
  transition: all 0.3s ease;
}
